<app-barra-titulo></app-barra-titulo>
<div class="artigos">
  <div class="artigos_esquerda">
    <app-cartao-principal
      id="1"
      foto="assets/img/placeholder.png"
      titulo="NOVO HOMEM DE FERRO"
      descricao="Mavel anuncia novo Homem de Ferro"
    ></app-cartao-principal>
  </div>
  <div class="artigos_direita">
    <app-cartao-titulos
      id="2"
      foto="assets/img/placeholder.png"
      titulo="Nova série anuncia no Disney +"
    ></app-cartao-titulos>
    <hr />
    <app-cartao-titulos
      id="3"
      foto="assets/img/placeholder.png"
      titulo="NOVA SÉRIE ANUNCIADA"
    ></app-cartao-titulos>
    <hr />
    <app-cartao-titulos
      id="4"
      foto="assets/img/placeholder.png"
      titulo="NOVA SÉRIE ANUNCIADA"
    ></app-cartao-titulos>
  </div>
</div>
