<div class="conteudo">
  <div class="imagem">
    <img src="assets/img/placeholder.png" alt="placeholder" />
  </div>
  <div class="titulo">
    <a href="#">Titulo do cartão principal</a>
  </div>
  <div class="descricao">
    <p>
      <a href="#"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
        delectus, libero distinctio perferendis ipsum vitae sit eos repellat.
        Veritatis quaerat maiores non? Sunt hic nemo ex fugiat sit neque
        rem!.</a
      >
    </p>
  </div>
</div>
